<template>
  <div class="page-article" v-if="model">
    <div class="d-flex py-3 px-2" style="border-bottom:1px solid #E4E4E4">
      <div class="flex-1">
        {{model.title}}
      </div>
      <div class="text-grey fs-xs">
        2021-1-14
      </div>
    </div>
    <div v-html='model.body' class="px-3 body fs-lg"></div>
  </div>
</template>

<script>
export default {
  props:{
    id:{ required: true}
  },
  data() {
    return {
      model: null
    }
  },
  methods: {
    async fetch(){
      const res = await this.$http.get(`articles/${this.id}`)
      this.model = res.data
    }
  },
  created() {
    this.fetch ()
  },
}
</script>

<style lang="scss">
  .page-article{
    .body{
      img{
        max-width: 100%;
        height: auto;
      }
      iframe{
        width: 100%;
        height: auto;
      }
    }
  }
</style>