<template>
  <div class="page-hero" v-if="model">
    <div class="topbar bg-black py-2 px-3 d-flex ai-center text-white">
      <img src="../assets/logo.png" height="30" />
      <div class="px-2 flex-1">
        <span class="text-white">英雄联盟</span>
        <span class="fs-xxs ml-2">资料库</span>
      </div>
      <router-link to="/" tag="div">首页 &gt;</router-link>
    </div>
    <div class="top" :style="{ 'background-image': `url(${model.banner})` }">
      <div class="info text-white p-3 h-100 d-flex flex-column jc-end">
        <div>{{ model.title }}</div>
        <div>
          <h2 class="my-2">{{ model.name }}</h2>
        </div>
        <div class="fs-sm">
          {{ model.categories.map((v) => v.name).join("/") }}
        </div>
        <div
          class="scores d-flex ai-center pt-2"
          v-if="model.difficulty && model.attack"
        >
          <span>难度</span>
          <span class="badge bg-primary">{{ model.difficulty }}</span>
          <span>技能</span>
          <span class="badge bg-blue-1">{{ model.magic }}</span>
          <span>攻击</span>
          <span class="badge bg-danger">{{ model.attack }}</span>
          <span>生存</span>
          <span class="badge bg-toughness">{{ model.defense }}</span>
        </div>
      </div>
    </div>
    <!-- end of top -->
    <div>
      <div class="bg-white px-3">
        <div class="nav d-flex jc-around pt-3 pb-2 border-bottom">
          <div
            class="nav-item"
            :class="{ active: active === 0 }"
            @click="$refs.list.$swiper.slideTo(0)"
          >
            <div class="nav-link">英雄基本知识</div>
          </div>
          <div
            class="nav-item"
            :class="{ active: active === 1 }"
            @click="$refs.list.$swiper.slideTo(1)"
          >
            <div class="nav-link">进阶英雄数据</div>
          </div>
        </div>
      </div>
      <swiper
        ref="list"
        @slide-change="() => (active = $refs.list.$swiper.activeIndex)"
        :options="{autoHeight:true}"
      >
        <swiper-slide>
          <div class="skills bg-white pt-2">
            <div class="d-flex jc-around">
              <img
                :src="item.abilityIconPath"
                @click="currentSkillIndex = i, keyword()"
                :class="{ active: currentSkillIndex === i }"
                v-for="(item, i) in model.skills"
                class="icon"
                :key="item.id"
                width="60"
                height="60"
              />
            </div>
            <div v-if="currentSkill" class="pt-3 pl-3">
              <h3>{{ currentSkill.name }}</h3>
            </div>
            <p class="m-3">{{ currentSkill.description }}</p>
            <div style="border: 1px solid gainsboro"></div>
            <p class="text-grey-1 pl-2 pb-3">快捷键Keyboard：{{ flag }}</p>
          </div>
          <m-card title="背景故事">
            <p>{{ model.story }}</p>
          </m-card>

          <m-card title="使用技巧">
            <p>{{ model.usageTips }}</p>
          </m-card>
          <m-card title="对抗技巧">
            <p>{{ model.battleTips }}</p>
          </m-card>
        </swiper-slide>
        <swiper-slide>
          <m-card class="hero-data" title="英雄数据">
            <div class="table">
              <table id='table' cellpadding='2' cellspacing='6'>
              <tr class="title">
                <th>生命</th>
                <th>生命成长</th>
                <th>生命恢复</th>
                <th>生命恢复成长</th>
              </tr>
              <tr>
                <th>{{model.data.hp}}</th>
                <th>{{model.data.hpperlevel}}</th>
                <th>{{model.data.hpregen}}</th>
                <th>{{model.data.hpregenperlevel}}</th>
              </tr>
              <tr class="title"> 
                <th>法力值</th>
                <th>法力值成长</th>
                <th>法力值恢复</th>
                <th>法力恢复成长</th>  
              </tr>
              
               <tr>
                <th>{{model.data.mp}}</th>
                <th>{{model.data.mpperlevel}}</th>
                <th>{{model.data.mpregen}}</th>
                <th>{{model.data.mpregenperlevel}}</th>
              </tr>
               <tr class="title">
                <th>攻击力</th>
                <th>攻击力成长</th>
                <th>攻击速度</th>
                <th>攻击速度成长</th>  
              </tr>
               <tr>
                <th>{{model.data.attackdamage}}</th>
                <th>{{model.data.attackdamageperlevel}}</th>
                <th>{{model.data.attackspeed}}</th>
                <th>{{model.data.attackspeedperlevel}}</th>  
              </tr>
               <tr class="title">
                <th>护甲</th>
                <th>护甲成长</th>
                <th>魔抗</th>
                <th>魔抗成长</th>  
              </tr>

               <tr>
                <th>{{model.data.armor}}</th>
                <th>{{model.data.armorperlevel}}</th>
                <th>{{model.data.spellblock}}</th>
                <th>{{model.data.spellblockperlevel}}</th>  
              </tr>
               <tr class="title">
                <th>移动速度</th>
                <th>攻击距离</th>
                <th>暴击率</th>
                <th>暴击率成长</th>  
              </tr>
               <tr>
                <th>{{model.data.movespeed}}</th>
                <th>{{model.data.attackrange}}</th>
                <th>{{model.data.crit}}</th>
                <th>{{model.data.critperlevel}}</th>  
              </tr>
              </table>
            </div>
          </m-card>
          <div id="chart"></div>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    id: { required: true },
  },
  data() {
    return {
      model: null,
      currentSkillIndex: 0,
      active: 0,
      flag:'被动(passive)'
    };
  },
  computed: {
    currentSkill() {
      return this.model.skills[this.currentSkillIndex];
    },
  },
  methods: {
    async fetch() {
      const res = await this.$http.get(`heroes/${this.id}`);
      this.model = res.data;
    },
    keyword(){
      switch(this.currentSkillIndex){
        case 0: this.flag= '被动(passive)'
        break
        case 1: this.flag='Q'
        break
        case 2: this.flag='W'
        break
        case 3: this.flag='E'
        break
        case 4: this.flag='R'
      }

    },
    chart() {
      var chart = this.$echarts.init(document.getElementById("chart"));
      chart.setOption({
        title: {
          text: "英雄评分",
        },
        tooltip: {},
        legend: {
          data: ["英雄评分"],
          show: 0,
        },
        radar: {
          shape: "circle",
          name: {
            textStyle: {
              color: "#fff",
              backgroundColor: "#999",
              borderRadius: 3,
              padding: [3, 5],
            },
          },
          indicator: [
            { name: "难度", max: 10 },
            { name: "物理", max: 10 },
            { name: "法术", max: 10 },
            { name: "生存", max: 10 },
          ],
        },
        series: [
          {
            name: "分数",
            type: "radar",
            // areaStyle: {normal: {}},
            data: [
              {
                value: [
                  this.model.difficulty,
                  this.model.attack,
                  this.model.magic,
                  this.model.defense,
                ],
                name: "英雄评分",
              },
            ],
            itemStyle: {
              normal: {
                lineStyle: {
                  color: "#FF8C00",
                },
              },
            },
            symbolSize: 5
          },
        ],
      });
    },
  },
  created() {
    this.fetch();
  },
  mounted() {},
  updated() {
    this.chart();
  },
};
</script>

<style lang="scss">
.page-hero {
  .top {
    height: 50vw;
    background: #fff top center;
    background-size: auto 100%;
  }
}
.info {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  .scores {
    .badge {
      margin: 0 0.25rem;
      display: inline-block;
      width: 1rem;
      height: 1rem;
      line-height: 0.9rem;
      text-align: center;
      border-radius: 50%;
      font-size: 0.75rem;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}
.skills {
  img.active {
    border: 3px solid rgb(204, 150, 96);
    border-radius: 30%;
  }
}
#chart {
  display: flex;
  height: 380px;
  padding-top: 5%;
  background: white;
}
.hero-data{
  margin-bottom: 4%;
  #table{
    padding-left: 6%;
    .title{
      color:grey;
    }
  }
}
</style>