<template>
  <div>
    <swiper :options="swiperOption">
      <swiper-slide>
        <img
          v-if="ads.items"
          class="w-100"
          :src="ads.items[0].image"
          @click="go(ads.items[0].url)"
          alt=""
        />
      </swiper-slide>
      <swiper-slide>
        <img
          v-if="ads.items"
          class="w-100"
          :src="ads.items[1].image"
          @click="go(ads.items[1].url)"
          alt=""
        />
      </swiper-slide>
      <swiper-slide>
        <img
          v-if="ads.items"
          class="w-100"
          :src="ads.items[2].image"
          @click="go(ads.items[2].url)"
          alt=""
        />
      </swiper-slide>
      <div
        class="swiper-pagination pagination-home text-right text-center"
        slot="pagination"
      ></div>
    </swiper>
    <!-- end of  swiper -->
    <!-- <div class="nav-icons bg-white mt-3 pt-3 text-center text-dark-1">
      <div class="d-flex flex-wrap">
        <div class="nav-item mb-3" v-for="n in 10" :key="n">
          <i class="sprite sprite-news"></i>
          <div class="py-2">爆料站</div>
        </div>
      </div>
      <div class="bg-light py-2 fs-sm">
        <i class="sprite sprite-arrow mr-1"></i>
        <span>收起</span>
      </div>
    </div> -->
    <!-- end of nav-icons -->
    <m-list-card title="新闻资讯" :categories="newsCats">
      <template #items="{ category }">
        <router-link
          tag="div"
          :to="`/articles/${news._id}`"
          class="py-2 d-flex"
          v-for="(news, i) in category.newsList"
          :key="i"
        >
          <span class="text-info">[{{ news.categoryName }}]</span>
          <span class="px-2">|</span>
          <!-- 文本溢出后显示省略号 -->
          <span class="flex-1 text-dark text-ellipsis pr-2">{{
            news.title
          }}</span>
          <span class="text-grey fs-sm">{{ news.createdAt | date }}</span>
        </router-link>
      </template>
    </m-list-card>

    <m-list-card title="英雄列表" :categories="heroCats">
      <template #items="{ category }">
        <div class="d-flex flex-wrap" style="margin: 0 -0.5rem">
          <router-link
            tag="div"
            :to="`/heroes/${hero._id}`"
            class="p-2 text-center"
            style="width: 5.5rem"
            v-for="(hero, i) in category.heroList"
            :key="i"
          >
            <img :src="hero.avatar" class="w-100" alt="" />
            <div>{{ hero.name }}</div>
          </router-link>
        </div>
      </template>
    </m-list-card>
    <m-list-card title="装备列表" :categories="itemCats">
      <template #items="{ category }">
        <div v-show="flag" @click="eject2()" class="mask">
          <div class="mask-content">
            <h1>{{ itemData.name }}</h1>
            <img :src="itemData.iconPath" style="max-width: 5rem" alt="" />
            <p>售价: {{ itemData.total }}</p>
            <p>{{ itemData.description }}</p>
            <p>Tips:{{ itemData.plainText }}</p>
          </div>
        </div>
        <div v-show="!flag" class="d-flex flex-wrap" style="margin: 0 -0.5rem">
          <div
            class="p-2 text-center"
            style="width: 5.4rem"
            v-for="(item, i) in category.itemList"
            :key="i"
          >
            <div @click="eject(item)">
              <img :src="item.iconPath" class="w-100" alt="" />
              <div>{{ item.name }}</div>
            </div>
          </div>
        </div>
      </template>
    </m-list-card>
  </div>
</template>

<script>
import dayjs from "dayjs";

export default {
  filters: {
    date(val) {
      return dayjs(val).format("MM/DD");
    },
  },
  data() {
    return {
      swiperOption: {
        pagination: {
          el: ".pagination-home",
        },
      },
      newsCats: [],
      heroCats: [],
      itemCats: [],
      ads: [],
      flag: false,
      itemData: {},
      item: {},
    };
  },
  methods: {
    go(ad) {
      window.location.href = ad;
    },
    eject(item) {
      this.flag = !this.flag;
      this.itemData = item;
    },
    eject2() {
      this.flag = !this.flag;
    },
    async fetchNewsCats() {
      const res = await this.$http.get("news/list");
      this.newsCats = res.data;
    },
    async fetchHeroCats() {
      const res = await this.$http.get("heroes/list");
      this.heroCats = res.data;
    },
    async fetchItemCats() {
      const res = await this.$http.get("items/list");
      this.itemCats = res.data;
    },
    async fetchAds() {
      const res = await this.$http.get("ads/list");
      this.ads = res.data;
    },
  },
  created() {
    this.fetchNewsCats();
    this.fetchHeroCats();
    this.fetchItemCats();
    this.fetchAds();
  },
};
</script>

<style lang="scss">
.pagination-home {
  .swiper-pagination-bullet {
    background-color: whitesmoke;
    border-radius: 0.1538rem;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: blueviolet;
    }
  }
}

.nav-icons {
  border-top: 1px solid #d4d9de;
  border-bottom: 1px solid #d4d9de;
  .nav-item {
    width: 25%;
    border-left: 1px solid grey;
    &:nth-child(4n + 1) {
      border-left: none;
    }
  }
}
.mask {
  height: 46rem;
  background-color: whitesmoke;
  font-size: 1.2rem;
  h1 {
    padding-top: 1rem;
    color: rgb(218, 149, 23);
  }
  img {
    padding-left: 0.5rem;
  }
  padding: 2rem;
}
</style>