<template>
    <div>
        <div class="topbar bg-black py-2 px-3 d-flex ai-center" >
            <img src="../assets/logo.png" height="30">
            <div class="px-2 flex-1">
                <div class="text-white">英雄联盟</div>
                <div class="text-grey-1 fs-xxs">11.2福牛贺岁</div>
            </div>
            <button type="button" class="btn bg-primary" @click="go()">立即下载</button>
        </div>
        <div class="bg-primary pt-3 pb-2 ">
            <div class="nav nav-inverse text-white jc-around">
                <div class="nav-item active">
                    <router-link class='nav-link' tag="div" to='/'>首页</router-link>
                </div>
                 <div class="nav-item">
                    <router-link class='nav-link' tag="div" to='/'>攻略中心</router-link>
                </div>
                 <div class="nav-item">
                    <router-link class='nav-link' tag="div" to='/'>其它</router-link>
                </div>
            </div>
        </div>
        <router-view></router-view>    
    </div>
</template>

<script>
export default {
    methods: {
        go (){
            window.location.href='https://lol.qq.com/download.shtml?ADTAG=innercop.lol.web.top'
        }
    },
}
</script>

<style lang="scss">
    .topbar{
        position: sticky;
        top:0;
        z-index: 999;
    }
</style>