<template>
  <div class="AdsEdit">
    <h1>{{id ?'编辑': '新建'}}广告位 </h1>
    <el-form :model="form" ref="form"  label-width="120px" :inline="false" size="normal" @submit.native.prevent='save'>
      <el-form-item label="广告栏名字" size="normal">     
            <el-input v-model="form.name"></el-input>
        <el-button type="primary" style="margin-top:4rem" @click="form.items.push({})" size="default">添加广告</el-button>
          <el-row type='flex' style="flex-wrap:wrap">
            <el-col :md='24' v-for="(item,i) in form.items" :key="i">
              <el-form-item label="链接URL" size="normal">
                <el-input v-model="item.url"></el-input>
              </el-form-item>
              <el-form-item label="图片" size="normal" style="margin-top: 1rem;">
                <el-upload
                class="avatar-uploader"
                :action="uploadUrl"
                :headers="getAuthHeaders()"
                :show-file-list="false"
                :on-success="res => $set(item,'image',res.url)" 
                >
                <!-- 使用箭头函数传递参数 -->
                <img v-if="item.image" :src="item.image" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                <!-- 如果有图片则显示图片，没有则显示上传图标 -->
                </el-upload>
              </el-form-item>
              <el-form-item label="" size="normal">
                <el-button type="danger" size="small" @click="form.items.splice(i,1)">删除</el-button>
              </el-form-item>
            </el-col>
          </el-row>
      </el-form-item>
      

      <el-form-item>
        <el-button type="primary" native-type='submit'>保存</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>
    
  </div>
</template>

<script>
export default {
  props:{
    id:{}
  },
  data() {
    return {
      form:{
         items:[],
      },
    }
  },
  methods: {
    async save(){
      if (this.id) {
        await this.$http.put('rest/ads/'+this.id, this.form)
      }else {
        await this.$http.post('rest/ads', this.form)
      }
      
      this.$router.push('/ads/list')
      this.$message({
        type:'success',
        message:'保存成功 '
      })
    },
    async fetch(){
      const res = await this.$http.get('rest/ads/'+this.id)
      this.form = Object.assign({},this.form, res.data)
    },
  },
  created() {
    this.id && this.fetch()
  },
}
</script>

