<template>
  <div class="admin_usersEdit">
    <h1>{{id ?'编辑': '新建'}}管理员 </h1>
    <el-form :model="form" ref="form"  label-width="120px" :inline="false" size="normal" @submit.native.prevent='save'>
      <el-form-item label="用户名">
        <el-input v-model="form.username"></el-input>
      </el-form-item>
      <el-form-item label="密码">
        <el-input type='text' v-model="form.password"></el-input>
      </el-form-item>
      
      <el-form-item>
        <el-button type="primary" native-type='submit'>保存</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>
    
  </div>
</template>

<script>
export default {
  props:{
    id:{}
  },
  data() {
    return {
      form:{ },
    }
  },
  methods: {
    async save(){
      if (this.id) {
        await this.$http.put('rest/admin_users/'+this.id, this.form)
      }else {
        await this.$http.post('rest/admin_users', this.form)
      }
      
      this.$router.push('/admin_users/list')
      this.$message({
        type:'success',
        message:'保存成功 '
      })
    },
    async fetch(){
      const res = await this.$http.get('rest/admin_users/'+this.id)
      this.form =res.data
    },
  },
  created() {
    this.id && this.fetch()
  },
}
</script>

