<template>
  <div class="ArticlesEdit">
    <h1>{{id ?'编辑': '新建'}}文章 </h1>
    <el-form :model="form" ref="form"  label-width="120px" :inline="false" size="normal" @submit.native.prevent='save'>
      <el-form-item label="所属分类">
        <el-select v-model="form.categories" multiple>
          <el-option v-for="item in categories" :key="item._id" :label="item.name" :value="item._id"></el-option>
        </el-select>
        </el-form-item>
      <el-form-item label="标题">
        <el-input v-model="form.title"></el-input>
      </el-form-item>

       <el-form-item label="内容">
        <vue-editor v-model="form.body" useCustomImageHandler @image-added='handleImageAdded'></vue-editor> 
      </el-form-item>
      
      <el-form-item>
        <el-button type="primary" native-type='submit'>保存</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>
    
  </div>
</template>

<script>
import {VueEditor} from 'vue2-editor'

export default {
  props:{
    id:{}
  },
  components:{
    VueEditor
  },
  data() {
    return {
      form:{ },
      categories:[]
    }
  },
  methods: {
    //处理富文本编辑器上传文件
    async handleImageAdded (file, Editor, cursorLocation, resetUploader) {
      const formData = new FormData();
      formData.append("file", file);
      const res= await this.$http.post('upload', formData)
      Editor.insertEmbed(cursorLocation, "image", res.data.url);
      resetUploader();
  },
    async save(){
      if (this.id) {
        await this.$http.put('rest/articles/'+this.id, this.form)
      }else {
        await this.$http.post('rest/articles', this.form)
      }
      
      this.$router.push('/articles/list')
      this.$message({
        type:'success',
        message:'保存成功 '
      })
    },
    async fetch(){
      const res = await this.$http.get('rest/articles/'+this.id)
      this.form =res.data
    },
    async fetchCategories(){
      const res = await this.$http.get('rest/categories')
      this.categories =res.data
    }
  },
  created() {
    this.fetchCategories ()
    this.id && this.fetch()
  },
}
</script>

