<template>
  <div class="CategoriesEdit">
    <h1>{{ id ? "编辑" : "新建" }}英雄</h1>
    <el-form
      :model="form"
      ref="form"
      label-width="120px"
      :inline="false"
      size="normal"
      @submit.native.prevent="save"
    >
      <el-tabs type="border-card" value="basic">
        <el-tab-pane label="基本信息" name="basic">
          <el-form-item label="名称">
            <el-input v-model="form.name"></el-input>
          </el-form-item>

          <el-form-item label="称号">
            <el-input v-model="form.title"></el-input>
          </el-form-item>

          <el-form-item label="头像">
            <el-upload
              class="avatar-uploader"
              :action="uploadUrl"
              :headers="getAuthHeaders()"
              :show-file-list="false"
              :on-success="(res) => $set(form, 'avatar', res.url)"
            >
              <img v-if="form.avatar" :src="form.avatar" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
              <!-- 如果有图片则显示图片，没有则显示上传图标 -->
            </el-upload>
          </el-form-item>
          <!-- 上传英雄背景图 -->
          <el-form-item label="Banner">
            <el-upload
              class="avatar-uploader"
              :action="uploadUrl"
              :headers="getAuthHeaders()"
              :show-file-list="false"
              :on-success="(res) => $set(form, 'banner', res.url)"
            >
              <img v-if="form.banner" :src="form.banner" class="avatar" />
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>

          <el-form-item label="类型">
            <el-select v-model="form.categories" multiple>
              <el-option
                v-for="item of categories"
                :key="item._id"
                :label="item.name"
                :value="item._id"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="难度">
            <el-rate
              style="margin-top: 0.6rem"
              :max="9"
              show-score
              v-model="form.difficulty"
            ></el-rate>
          </el-form-item>
          <el-form-item label="技能">
            <el-rate
              style="margin-top: 0.6rem"
              :max="9"
              show-score
              v-model="form.magic"
            ></el-rate>
          </el-form-item>
          <el-form-item label="攻击">
            <el-rate
              style="margin-top: 0.6rem"
              :max="9"
              show-score
              v-model="form.attack"
            ></el-rate>
          </el-form-item>
          <el-form-item label="生存">
            <el-rate
              style="margin-top: 0.6rem"
              :max="9"
              show-score
              v-model="form.defense"
            ></el-rate>
          </el-form-item>

          <el-form-item label="推荐出装">
            <el-select v-model="form.items1" multiple>
              <el-option
                v-for="item of items"
                :key="item._id"
                :label="item.name"
                :value="item._id"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="第二套推荐出装">
            <el-select v-model="form.items2" multiple>
              <el-option
                v-for="item of items"
                :key="item._id"
                :label="item.name"
                :value="item._id"
              >
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="使用技巧" size="normal">
            <el-input type="textarea" v-model="form.usageTips"> </el-input>
          </el-form-item>

          <el-form-item label="对抗技巧" size="normal">
            <el-input type="textarea" v-model="form.battleTips"> </el-input>
          </el-form-item>

          <el-form-item label="团战思路" size="normal">
            <el-input type="textarea" v-model="form.story"> </el-input>
          </el-form-item>
        </el-tab-pane>

        <el-tab-pane label="技能" name="skills">
          <el-button type="primary" @click="form.skills.push({})" size="default"
            >添加技能</el-button
          >
          <el-row type="flex" style="flex-wrap: wrap">
            <el-col :md="12" v-for="(item, i) in form.skills" :key="i">
              <el-form-item label="名称" size="normal">
                <el-input v-model="item.title"></el-input>
              </el-form-item>
              <el-form-item label="图标" size="normal">
                <el-upload
                  class="avatar-uploader"
                  :action="uploadUrl"
                  :headers="getAuthHeaders()"
                  :show-file-list="false"
                  :on-success="(res) => $set(item, 'abilityIconPath', res.url)"
                >
                  <!-- 使用箭头函数传递参数 -->
                  <img
                    v-if="item.abilityIconPath"
                    :src="item.abilityIconPath"
                    class="avatar"
                  />
                  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  <!-- 如果有图片则显示图片，没有则显示上传图标 -->
                </el-upload>
              </el-form-item>
              <el-form-item label="描述" size="normal">
                <el-input type="textaera" v-model="item.description"></el-input>
              </el-form-item>
              <el-form-item label="小提示" size="normal">
                <el-input type="textaera" v-model="item.tips"></el-input>
              </el-form-item>

              <el-form-item label="" size="normal">
                <el-button
                  type="danger"
                  size="small"
                  @click="form.skills.splice(i, 1)"
                  >删除</el-button
                >
              </el-form-item>
            </el-col>
          </el-row>
        </el-tab-pane>
        <el-tab-pane label="英雄数据" name="heroData">
          <el-form-item label="生命值">
            <el-input v-model="form.data.hp"></el-input>
          </el-form-item>
          <el-form-item label="生命值成长">
            <el-input v-model="form.data.hpperlevel"></el-input>
          </el-form-item>
          <el-form-item label="生命值恢复">
            <el-input v-model="form.data.hpregen"></el-input>
          </el-form-item>
          <el-form-item label="法力值">
            <el-input v-model="form.data.mp"></el-input>
          </el-form-item>
          <el-form-item label="法力值成长">
            <el-input v-model="form.data.mpperlevel"></el-input>
          </el-form-item>
          <el-form-item label="法力值恢复">
            <el-input v-model="form.data.mpregen"></el-input>
          </el-form-item>
          <el-form-item label="法力值恢复成长">
            <el-input v-model="form.data.mpregenperlevel"></el-input>
          </el-form-item>
          <el-form-item label="攻击力">
            <el-input v-model="form.data.attackdamage"></el-input>
          </el-form-item>
          <el-form-item label="攻击力成长">
            <el-input v-model="form.data.attackdamageperlevel"></el-input>
          </el-form-item>
          <el-form-item label="攻击速度">
            <el-input v-model="form.data.attackspeed"></el-input>
          </el-form-item>
          <el-form-item label="攻击速度成长">
            <el-input v-model="form.data.attackspeedperlevel"></el-input>
          </el-form-item>
          <el-form-item label="护甲">
            <el-input v-model="form.data.armor"></el-input>
          </el-form-item>
          <el-form-item label="护甲成长">
            <el-input v-model="form.data.armorperlevel"></el-input>
          </el-form-item>
          <el-form-item label="魔抗">
            <el-input v-model="form.data.spellblock"></el-input>
          </el-form-item>
          <el-form-item label="魔抗成长">
            <el-input v-model="form.data.spellblockperlevel"></el-input>
          </el-form-item>
          <el-form-item label="移动速度">
            <el-input v-model="form.data.movespeed"></el-input>
          </el-form-item>
          <el-form-item label="攻击距离">
            <el-input v-model="form.data.attackrange"></el-input>
          </el-form-item>
          <el-form-item label="暴击">
            <el-input v-model="form.data.crit"></el-input>
          </el-form-item>
          <el-form-item label="暴击成长">
            <el-input v-model="form.data.critperlevel"></el-input>
          </el-form-item>
        </el-tab-pane>
      </el-tabs>

      <el-form-item style="margin-top: 1rem">
        <el-button type="primary" native-type="submit">保存</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  props: {
    id: {},
  },
  data() {
    return {
      categories: [],
      items: [],
      form: {
        name: "",
        avatar: "",
        difficulty: 0,
      },
    };
  },
  methods: {
    async save() {
      if (this.id) {
        await this.$http.put("rest/heroes/" + this.id, this.form);
      } else {
        await this.$http.post("rest/heroes", this.form);
      }

      this.$router.push("/heroes/list");
      this.$message({
        type: "success",
        message: "保存成功 ",
      });
    },
    async fetch() {
      const res = await this.$http.get("rest/heroes/" + this.id);
      this.form = Object.assign({}, this.form, res.data); //这种赋值方式不会完全替换对象。 如果直接使用等号赋值，score属性会被覆盖，js会报出无法读到form.score的错误
    },
    async fetchCategories() {
      const res = await this.$http.get("rest/categories");
      this.categories = res.data;
    },
    async fetchItems() {
      const res = await this.$http.get("rest/items");
      this.items = res.data;
    },
  },
  created() {
    this.fetchCategories();
    this.fetchItems();
    this.id && this.fetch();
  },
};
</script>


