<template>
  <div class="CategoriesEdit">
    <h1>{{id ?'编辑': '新建'}}物品 </h1>
    <el-form :model="form" ref="form"  label-width="120px" :inline="false" size="normal" @submit.native.prevent='save'>
      <el-form-item label="名称">
        <el-input v-model="form.name"></el-input>
      </el-form-item>


      <el-form-item label="图标">
      <el-upload
        class="avatar-uploader"
        :action="$http.defaults.baseURL+'/upload'"
        :show-file-list="false"
        :headers='getAuthHeaders()'
        :on-success="afterUploads"
      >
        <img v-if="form.iconPath" :src="form.iconPath" class="avatar">
        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        <!-- 如果有图片则显示图片，没有则显示上传图标 -->
      </el-upload>
      </el-form-item>
      
      <el-form-item label="总价" size="normal">
        <el-input v-model="form.total"></el-input>    
      </el-form-item>

      <el-form-item label="出售价值" size="normal">
        <el-input v-model="form.sell"></el-input>    
      </el-form-item>

      <el-form-item label="装备描述" size="normal">
        <el-input v-model="form.plainText"></el-input>    
      </el-form-item>
        
       <el-form-item label="品质" size="normal" >
        <el-radio-group v-model="form.quality">
          <el-radio-button :label="'6007a8163820953b74bbb516'">消耗品</el-radio-button>
          <el-radio-button :label="'6007a81f3820953b74bbb517'">基础</el-radio-button>
          <el-radio-button :label="'6007a8463820953b74bbb518'">史诗</el-radio-button>
          <el-radio-button :label="'6007a84e3820953b74bbb519'">传说</el-radio-button>
          <el-radio-button :label="'6007a8553820953b74bbb51a'">神话</el-radio-button>
        </el-radio-group>
      </el-form-item>

       <el-form-item label="属性" >
        <el-input autosize type="textarea" v-model="form.description"></el-input>
      </el-form-item>
      

      <el-form-item>
        <el-button type="primary" native-type='submit'>保存</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>
    
  </div>
</template>

<script>
export default {
  props:{
    id:{}
  },
  data() {
    return {
      form:{},
      categories:{}
    }
  },
  methods: {
    afterUploads(res){
      this.$set(this.form, 'iconPath', res.url)
      // console.log(this.form.icon)
    },
    async save(){
      if (this.id) {
        await this.$http.put('rest/items/'+this.id, this.form)
      }else {
        await this.$http.post('rest/items', this.form)
      }
      
      this.$router.push('/items/list')
      this.$message({
        type:'success',
        message:'保存成功 '
      })
    },
    async fetch(){
      const res = await this.$http.get('rest/items/'+this.id)
      this.form =res.data
    },
     async fetchCategories(){
      const res = await this.$http.get('rest/categories')
      this.categories =res.data
    },
  },
  created() {
    this.id && this.fetch()
    this.fetchCategories()
  },
}
</script>
