<template>
  <div class="login-container">
    <el-card header='请先登录' class="login-card">
    <el-form @submit.native.prevent='login'>
      <el-form-item label="用户名" size="normal">
        <el-input v-model="form.username"></el-input>
      </el-form-item>
      <el-form-item label="密码" size="normal">
        <el-input v-model="form.password" show-password></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" size="default" native-type='submit' >登录</el-button>
      </el-form-item>
    </el-form>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form:{}
    }
  },
  methods: {
    async login(){
      const res = await this.$http.post('login',this.form)
      localStorage.token =res.data.token
      this.$router.push('/')
      this.$message({
        type:'success',
        message:'登陆成功'
      })
    }
  },
}
</script>

<style>
  .login-card{
    width: 25rem;
    margin: 10rem auto;
  }
</style>