//重置样式 *表示任意元素
* {
    box-sizing: border-box; //以边框为准
    outline: none; //取消高亮
}

html{
    font-size: 13px;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background-color: #f1f1f1;
    -webkit-font-smoothing:antialiased; //字体平滑
}

a{
    color: #999;
}

p{
    line-height: 1.5em;
}

//colors 用$定义变量
$colors :( 
    info : rgba(0, 26, 255, 0.842),
    primary: #db9e3f,
    'white': #fff,
    'light': #f9f9f9,
    'black': #000,
    dark-1: #343440,
    dark: #222,
    'grey': #999,
    grey-1:#666,
    blue-1:#4394e4,
    danger:#7c1a15,
    toughness: #12995C
   );

$border-color:map-get($colors,'grey-1');

@each $colorKey, $color in $colors {
    .text-#{$colorKey} {
        color:$color;
    }
    .bg-#{$colorKey}{
        background-color: $color;
    }
}

//text
@each $var in (left,center,right) {
    .text-#{$var}{
        text-align: $var !important;
    }
}
// text-overflow
.text-ellipsis{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
//font size
$base-font-size:1rem;
$font-sizes:(
    xxs:0.6154,
    xs:0.7692, //10px
    sm:0.9231, //12px
    md:1, //13px
    lg:1.0769,  //14px
    xl:1.2308, //16px
);

@each $sizeKey, $size in $font-sizes {
    .fs-#{$sizeKey}{
        font-size: $size * $base-font-size;
    }
}
// width height
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
//flex 布局定义
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap:wrap;
}
//垂直方向
$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between : space-between,
    around: space-around,
);

@each $key, $value in $flex-jc {
    .jc-#{$key}{
        justify-content: $value;
    }
}
//水平方向
$flex-ai: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch:stretch,
);

@each $key, $value in $flex-ai {
    .ai-#{$key}{
        align-items: $value;
    }
}
//简写 表示grow自动撑满界面
.flex-1{
    flex:1;
}

//spacing 手动实现bootstrap
$spacing-types:(m:margin, p:padding);
$spacing-directions:(t:top, r:right, b:bottom, l: left);
$spacing-base-size:1rem;
$spacing-sizes:(
    0:0,
    1:0.25,
    2:0.5,
    3:1,
    4:1.5,
    5:3
);

//mt-1
@each $typeKey, $type in $spacing-types {
    @each $directionKey, $direction in $spacing-directions {
        @each $sizeKey,$size in $spacing-sizes {
            .#{$typeKey}#{$directionKey}-#{$sizeKey}{
                #{$type}-#{$direction}:$size * $spacing-base-size;
            }
        }
    }
    // m-1
    @each $sizeKey,$size in $spacing-sizes {
        .#{$typeKey}-#{$sizeKey}{
            #{$type}:$size * $spacing-base-size;
        }
    }
   
    @each $sizeKey,$size in $spacing-sizes {
         //mx-1
        .#{$typeKey}x-#{$sizeKey}{
            #{$type}-left:$size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size;
        }
        //my-1
        .#{$typeKey}y-#{$sizeKey}{
            #{$type}-top:$size * $spacing-base-size;
            #{$type}-bottom:$size * $spacing-base-size;
        }
    }
        
}

//button
.btn{
    border:none;
    border-radius: 0.1538rem;
    font-size: map-get($font-sizes, 'sm' ) * $base-font-size;
    padding: 0.2rem 0.6rem;
}

.nav{
    display: flex;
    .nav-item{
        border-bottom: 3px solid  gainsboro;
        padding-bottom: 0.2rem;
        
        &.active{
            border-bottom-color:map-get($colors,'primary');
            color:map-get($colors,'primary');
        }
    }
    &.nav-inverse{
        .nav-item{
            color:map-get($colors, 'white' );
            &.active{
                border-bottom-color:map-get($colors,'white');
            }
        }
    }
}

//sprete
.sprite{
    background: url(./assets/images/index.png) no-repeat 0 0;
    background-size: 28.8462rem;
    display: inline-block;
    &.sprite-news{
        width: 1.7692rem;
        height: 1.5385rem;
        background-position: 63.546% 15.517%;
    }
    &.sprite-arrow{
        width: .7692rem;
        height: .7692rem;
        background-position: 38.577% 52.076%;
    }
}