<template>
    <div class="card p-3 bg-white mt-3">
      <div class="card-header d-flex ai-center pb-3">
        <span class="iconfont fs-xl">&#xe664;</span>
        <div class="fs-xl flex-1 px-2">{{title}}</div>
        <span class="iconfont fs-xl">&#xe664;</span>
      </div>
      <div class="card-body pt-3">
        <slot> </slot>
      </div>
    </div>
</template>

<script>
export default {
    props:{
        title:{type:String, required: true},

    }
}
</script>

<style lang="scss">
    .card{
        .card-header{
            border-bottom: 1px solid Gainsboro;
        }
    border-bottom: 1px solid Gainsboro;
    }
</style>